@charset "utf-8";
/* CSS Document */

#Wrapper {
    background-color: #C95B5D;
}
#Banner {
    background-color: #CA53CD;
}
#Banner {
    background-color: #A63BDC;
}
.main {
    background-color: #5B69D5;
}
#footer {
    background-color: #E167DD;
}
